[user]
    name = <git.name>
    email = <git.email>
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
    whitespace = "trailing-space,space-before-tab"
[apply]
    whitespace = "fix"
[github]
    user = <github.user>
    token = <github.token>